*{
  margin:0;
  padding: 0;
}
.menu-div2-card{ display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 4%;
}
.card-div{
  width:max-content;
    border-radius: 10px;
    background-color: #e4e4e4;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-bottom: 2%;
  
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  }
  .card-heading{
    display: flex;
    justify-content: space-between;
  
  }
  .card-title{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .card-description{
  margin-left: 10px;
  margin-right: 10px;
  font-style: normal;
  font-weight: 400;
  text-align: justify;
  color: #495e57;
}
.card-button{
  background-color: #F4CE14;
  border: none;
  font-weight:bold;
  border-radius: 20px;
  font-size: 15px;
  color: black;  
  padding: 7px 9px;
  margin-left: 10px;
  margin-bottom: 10px;
  
border: solid 1px #495e57;
}
.card-button:hover{
cursor: pointer;
border: solid 3px #495e57;
}